#Folders
output
bin
obj
out
TestResults
Backup
.vagrant
_UpgradeReport*
_ReSharper*
coverage.*
TestResult.xml
UpgradeLog.htm
*.ReSharper
*.user
*.suo
*.Cache
*.cache
*.ncb
*.marcus
*.bak
*.vsdoc
*.XML
*.so
*.sdf
*.opensdf

#Executables and big data
*.[Dd][Ll][Ll]
*.[Ee][Xx][Ee]
*.[Xx][Mm][Ll]

#Temporary files
*~
*.*~*
Thumbs.db

#Folders
*[Oo][Uu][Tt][Pp][Uu][Tt]/*
*[Bb][Ii][Nn]/*
*[Oo][Uu][Tt]/*
*[Oo][Uu][Tt][Pp][Uu][Tt]/*
*[Tt][Ee][Ss][Tt][Rr][Ee][Ss][Uu][Ll][Tt][Ss]/*
*[Bb][Aa][Cc][Kk][Uu][Pp]/*
